<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Runlog <%= @runlogs.first.run_count %></h1>
<h1>Download GPX file</h1>
<%= link_to "GPX download", runlogs_gpx_download_path %>

<div id='map' style='width: 800px; height: 400px'></div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  polyline = <%= raw @polyline.to_json %>;

handler.addPolyline(polyline); // and not addPolylines
handler.bounds.extend(polyline[0]);
handler.bounds.extend(polyline[ polyline.length - 1]);
handler.fitMapToBounds();});

</script>

<%= line_chart @chart_data, xtitle: "Time", ytitle: "温度", height: "500px", min: "15.0" %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>時刻</th>
        <th>緯度</th>
        <th>経度</th>
        <th>温度</th>
      </tr>
    </thead>
    <tbody>
      <% @runlogs.each do |runlog| %>
        <tr>
          <td><%= runlog.dateandtime %></td>
          <td><%= runlog.latitude %></td>
          <td><%= runlog.longitude %></td>
          <% if runlog.temperature.is_a?(String) %>
            <td><%= runlog.temperature.gsub(/"/, '').to_f %></td>
          <% else %>
            <td><%= runlog.temperature %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
